@model Okul_Idare_Sistemi.Models.Ders
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kredisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kredisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OkulYonetimId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OkulYonetimId)
        </dd>
       
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |

    </form>
</div>