@model IEnumerable<Okul_Idare_Sistemi.Models.OgrenciDers>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><font color=red>ÖĞRENCİ DERS SAYFASI</font></h1>

<a class="nav-link text-dark" asp-area="" asp-controller="OgrenciDers" asp-action="Create">Öğrenci-Ders Ekleme</a>


<div class="main-div">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ogrenci.AdSoyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ders.Ad)
                </th>
                

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ogrenci.AdSoyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ders.Ad)
                    </td>
                   

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>